Options -Indexes

RewriteEngine On

# Blog:
RewriteRule ^_/([^/]+)/r([0-9]+)_(.+)/(.+).html$ /blog.php?kw=$1&a_aid=$2&name=$3&location=$4 [L]
RewriteRule ^_/([^/]+)/(.+)/(.+).html$ /blog.php?kw=$1&name=$2&location=$3 [L]
RewriteRule ^_/([^/]+)/(.+).html$ /blog.php?kw=$1&name=$2 [L]
RewriteRule ^_/([^/]+)/(.+)$ /blog.php?kw=$1 [L]
RewriteRule ^_/([^/]+)/$ /blog.php?kw=$1 [L]
RewriteRule ^-/([^/]+)/(.+)$ /blog.php?articleid=$1&name=$2 [L]
RewriteRule ^-/([^/]+)(\/|$) /blog.php?articleid=$1 [L]
RewriteRule ^_/$ /blog.php [L]

RewriteRule ^blog/([^/]+)(\/|$) /blog.php?pagenumber=$1 [L]
RewriteRule ^blog(\/|$) /blog.php [L]

RewriteRule ^api/save_article(\/|$) /services/api.php?save_article=1 [L]

# temporary rule. Google thinks that folder /services/ has virus content
RewriteRule ^sr_/([^/]+)(\/|$) /services/$1 [L]

RewriteRule ^api/api_token_seed(\/|$) /services/api.php?api_token_seed=1 [L]
RewriteRule ^api/user_signup(\/|$) /services/api.php?user_signup=1 [L]
RewriteRule ^api/balance(\/|$) /services/api.php?balance=_ [L]

RewriteRule ^api/available_funds/([^/]+)/([^/]+)/([^/]+)(\/|$) /services/api.php?available_funds=$1&available_funds2=$2&available_funds3=$3 [L]
RewriteRule ^api/available_funds/([^/]+)/([^/]+)(\/|$) /services/api.php?available_funds=$1&available_funds2=$2 [L]
RewriteRule ^api/available_funds/([^/]+)(\/|$) /services/api.php?available_funds=$1 [L]
RewriteRule ^api/available_funds(\/|$) /services/api.php?available_funds=_ [L]

RewriteRule ^api/save_data(\/|$) /services/api.php?save_data=_ [L]
RewriteRule ^api/del_data(\/|$) /services/api.php?delete_record=_ [L]
RewriteRule ^api/del_tr(\/|$) /services/api.php?delete_transaction_relatives=_ [L]

RewriteRule ^api/do_tasks/([^/]+)/([^/]+)/([^/]+)(\/|$) /services/api.php?do_tasks=1&task_to_do=$1&param1=$2&param2=$3 [L]
RewriteRule ^api/do_tasks/([^/]+)/([^/]+)(\/|$) /services/api.php?do_tasks=1&task_to_do=$1&param1=$2 [L]
RewriteRule ^api/do_tasks/([^/]+)(\/|$) /services/api.php?do_tasks=1&task_to_do=$1 [L]
RewriteRule ^api/do_tasks(\/|$) /services/api.php?do_tasks=1 [L]

RewriteRule ^api/do_tasks_on_aps/([^/]+)/([^/]+)/([^/]+)(\/|$) /services/api.php?do_tasks_on_aps=1&task_to_do=$1&param1=$2&param2=$3 [L]
RewriteRule ^api/do_tasks_on_aps/([^/]+)/([^/]+)(\/|$) /services/api.php?do_tasks_on_aps=1&task_to_do=$1&param1=$2 [L]
RewriteRule ^api/do_tasks_on_aps/([^/]+)(\/|$) /services/api.php?do_tasks_on_aps=1&task_to_do=$1 [L]
RewriteRule ^api/do_tasks_on_aps(\/|$) /services/api.php?do_tasks_on_aps=1 [L]
RewriteRule ^api/get_countries_list(\/|$) /services/api.php?get_countries_list=1 [L]
RewriteRule ^api/save_fiat_exhange_rate(\/|$) /services/api.php?save_fiat_exhange_rate=1 [L]
RewriteRule ^api/get_list_of_services(\/|$) /services/api.php?get_list_of_services=1 [L]

RewriteRule ^api/refresh_global_constants(\/|$) /services/api.php?refresh_global_constants=1 [L]
RewriteRule ^api/synchro_files(\/|$) /services/api.php?synchro_files=1 [L]
#RewriteRule ^api/change_IP_of_API_server/([^/]+)(\/|$) /services/api.php?change_IP_of_API_server=1&new_ip=$1 [L]
#RewriteRule ^api/get_IP_of_API_server(\/|$) /services/api.php?get_IP_of_API_server=1 [L]
#RewriteRule ^api/check_password(\/|$) /services/api.php?check_password=_ [L]
RewriteRule ^api/check_webpage/([^/]+)/([^/]+)(\/|$) /services/api.php?check_webpage=1&url=$1&check_stock=$2 [L]
RewriteRule ^api/check_stockid/([^/]+)(\/|$) /services/api.php?check_stockid=1&stockid=$1 [L]
RewriteRule ^api/get_crypto_addr_info/([^/]+)(\/|$) /services/api.php?get_crypto_addr_info=1&crypto_addr=$1 [L]
RewriteRule ^api/is_user_online/([^/]+)(\/|$) /services/api.php?is_user_online=$1 [L]
RewriteRule ^api/get_list_of_alerts/(\/|$) /services/api.php?get_list_of_alerts=1 [L]
RewriteRule ^api/get_interlocutor_info/([^/]+)(\/|$) /services/api.php?get_interlocutor_info=$1 [L]
RewriteRule ^api/post_topic(\/|$) /services/api.php?post_topic=1 [L]
RewriteRule ^api/delete_topic(\/|$) /services/api.php?delete_topic=1 [L]
RewriteRule ^api/post_topic_global_chat(\/|$) /services/api.php?post_topic_global_chat=1 [L]
RewriteRule ^api/delete_topic_global_chat/([^/]+)(\/|$) /services/api.php?delete_topic_global_chat=1&topicid=$1 [L]
RewriteRule ^api/get_topics_list(\/|$) /services/api.php?get_topics_list=1 [L]
RewriteRule ^api/get_topics_list_global_chat(\/|$) /services/api.php?get_topics_list_global_chat=1 [L]
RewriteRule ^api/get_contacts_list(\/|$) /services/api.php?get_contacts_list=1 [L]
RewriteRule ^api/add_timeline_task(\/|$) /services/api.php?add_timeline_task=1 [L]
RewriteRule ^api/timeline_tasks(\/|$) /services/api.php?timeline_tasks=1&readonly_server=0 [L]
RewriteRule ^api/move_timeline_task_up(\/|$) /services/api.php?move_timeline_task_up=1 [L]
RewriteRule ^api/move_timeline_task_down(\/|$) /services/api.php?move_timeline_task_down=1 [L]
RewriteRule ^api/delete_timeline_task(\/|$) /services/api.php?delete_timeline_task=1 [L]
RewriteRule ^api/change_timeline_task(\/|$) /services/api.php?change_timeline_task=1 [L]
RewriteRule ^api/update_share_timeline_xml(\/|$) /services/api.php?update_share_timeline_xml=1 [L]
#RewriteRule ^api/xml_hyip_info(\/|$) /services/api.php?xml_hyip_info=1 [L]
#RewriteRule ^api/get_priv_key/([^/]+)/([^/]+)(\/|$) /services/api.php?get_priv_key=1&amount=$1&currency=$2 [L]
RewriteRule ^api/get_sorted_table(\/|$) /services/api.php?get_sorted_table=1 [L]
RewriteRule ^api/draw_graph(\/|$) /services/api.php?draw_graph=1 [L]
RewriteRule ^api/vote_for_stock/([^/]+)/([^/]+)(\/|$) /services/api.php?vote_for_stock=1&stockid=$1&value=$2 [L]
RewriteRule ^api/get_stock_vote_info/([^/]+)(\/|$) /services/api.php?get_stock_vote_info=1&stockid=$1 [L]
RewriteRule ^api/preorder_stock/([^/]+)/([^/]+)(\/|$) /services/api.php?preorder_stock=1&stockid=$1&quantity=$2 [L]
RewriteRule ^api/stock_approve/([^/]+)(\/|$) /services/api.php?stock_approve=1&stockid=$1 [L]
RewriteRule ^api/stock_decline/([^/]+)(\/|$) /services/api.php?stock_decline=1&stockid=$1 [L]
RewriteRule ^api/stock_create_trend_image/([^/]+)(\/|$) /services/api.php?stock_create_trend_image=1&stockid=$1 [L]
RewriteRule ^api/stock_minimum_investment(\/|$) /services/api.php?stock_minimum_investment=1 [L]
RewriteRule ^api/stock_read_data/([^/]+)(\/|$) /services/api.php?stock_read_data=1&stockid=$1 [L]
RewriteRule ^api/stock_get_trend_array/([^/]+)/([^/]+)(\/|$) /services/api.php?stock_get_trend_array=1&stockid=$1&interval_days=$2 [L]
RewriteRule ^api/stock_get_list(\/|$) /services/api.php?stock_get_list=1 [L]
RewriteRule ^api/stock_get_total_amount_shares_sold/([^/]+)(\/|$) /services/api.php?stock_get_total_amount_shares_sold=1&stockid=$1 [L]
RewriteRule ^api/stock_get_trend_graph/([^/]+)(\/|$) /services/api.php?stock_get_trend_graph=1&stockid=$1 [L]
RewriteRule ^api/stock_set_user_image/([^/]+)(\/|$) /services/api.php?stock_set_user_image=1&stockid=$1 [L]
RewriteRule ^api/stock_recommended_to_invest(\/|$) /services/api.php?stock_recommended_to_invest=1 [L]
RewriteRule ^api/stock_sell/([^/]+)(\/|$) /services/api.php?stock_sell=1&stockid=$1 [L]
RewriteRule ^api/stock_cancel_sell/([^/]+)(\/|$) /services/api.php?stock_cancel_sell=1&stockid=$1 [L]
RewriteRule ^api/stock_change_ask/([^/]+)(\/|$) /services/api.php?stock_change_ask=1&stockid=$1 [L]
RewriteRule ^api/stock_get_number_of_for_sale/([^/]+)(\/|$) /services/api.php?stock_get_number_of_for_sale=1&stockid=$1 [L]
RewriteRule ^api/stock_buy/([^/]+)(\/|$) /services/api.php?stock_buy=1&stockid=$1 [L]
RewriteRule ^api/stock_update_stats/([^/]+)(\/|$) /services/api.php?stock_update_stats=1&stockid=$1 [L]
RewriteRule ^api/user_login(\/|$) /services/api.php?user_login=1 [L]
RewriteRule ^api/user_read_data(\/|$) /services/api.php?user_read_data=1 [L]
RewriteRule ^api/user_add_to_cart(\/|$) /services/api.php?user_add_to_cart=1 [L]
RewriteRule ^api/user_remove_item_from_cart/([^/]+)(\/|$) /services/api.php?user_remove_item_from_cart=1&cartid=$1 [L]
RewriteRule ^api/user_remove_item_from_cart(\/|$) /services/api.php?user_remove_item_from_cart=1 [L]
RewriteRule ^api/user_cart_change_quantity(\/|$) /services/api.php?user_cart_change_quantity=1 [L]
RewriteRule ^api/user_update_crypto_addr(\/|$) /services/api.php?user_update_crypto_addr=1 [L]
RewriteRule ^api/user_check_crypto_order(\/|$) /services/api.php?user_check_crypto_order=1 [L]
RewriteRule ^api/user_is_password_correct(\/|$) /services/api.php?user_is_password_correct=1 [L]
RewriteRule ^api/user_verification_pin_refresh(\/|$) /services/api.php?user_verification_pin_refresh=1 [L]
RewriteRule ^api/user_check_verification_pin(\/|$) /services/api.php?user_check_verification_pin=1 [L]
RewriteRule ^api/user_validate_seq_answer(\/|$) /services/api.php?user_validate_seq_answer=1 [L]
RewriteRule ^api/user_find_next_job(\/|$) /services/api.php?user_find_next_job=1 [L]
RewriteRule ^api/user_refresh_session_vars(\/|$) /services/api.php?user_refresh_session_vars=1 [L]
RewriteRule ^api/user_get_number_of_new_emails(\/|$) /services/api.php?user_get_number_of_new_emails=1 [L]
RewriteRule ^api/email_get(\/|$) /services/api.php?email_get=1 [L]
RewriteRule ^api/email_set_opened(\/|$) /services/api.php?email_set_opened=1 [L]
RewriteRule ^api/user_previous_login(\/|$) /services/api.php?user_previous_login=1 [L]
RewriteRule ^api/user_number_of_open_tickets(\/|$) /services/api.php?user_number_of_open_tickets=1 [L]
RewriteRule ^api/user_update_stat_fields(\/|$) /services/api.php?user_update_stat_fields=1 [L]
RewriteRule ^api/user_get_deposit_hash(\/|$) /services/api.php?user_get_deposit_hash=1 [L]
RewriteRule ^api/user_term_deposit_abort(\/|$) /services/api.php?user_term_deposit_abort=1 [L]
RewriteRule ^api/user_get_stat_vars(\/|$) /services/api.php?user_get_stat_vars=1 [L]
RewriteRule ^api/user_get_min_max_term_deposit(\/|$) /services/api.php?user_get_min_max_term_deposit=1 [L]
RewriteRule ^api/user_get_request_to_pay_cart(\/|$) /services/api.php?user_get_request_to_pay_cart=1 [L]
RewriteRule ^api/user_change_rank_according_to_activity_points(\/|$) /services/api.php?user_change_rank_according_to_activity_points=1 [L]
RewriteRule ^api/user_buy_currency(\/|$) /services/api.php?user_buy_currency=1 [L]
RewriteRule ^api/user_get_next_pending_transaction(\/|$) /services/api.php?user_get_next_pending_transaction=1 [L]
RewriteRule ^api/user_add_funds_sent(\/|$) /services/api.php?user_add_funds_sent=1 [L]
RewriteRule ^api/user_confirm_funds_received(\/|$) /services/api.php?user_confirm_funds_received=1 [L]
RewriteRule ^api/user_get_available_withdraw_amounts(\/|$) /services/api.php?user_get_available_withdraw_amounts=1 [L]
RewriteRule ^api/user_is_user_exist(\/|$) /services/api.php?user_is_user_exist=1 [L]
RewriteRule ^api/user_withdraw2(\/|$) /services/api.php?user_withdraw2=1 [L]
RewriteRule ^api/user_found_new_transaction(\/|$) /services/api.php?user_found_new_transaction=1 [L]
RewriteRule ^api/user_get_address_to_check(\/|$) /services/api.php?user_get_address_to_check=1 [L]
RewriteRule ^api/user_mark_chain_transact_as_confimed(\/|$) /services/api.php?user_mark_chain_transact_as_confimed=1 [L]
RewriteRule ^api/get_priority_fee_in_satoshi(\/|$) /services/api.php?get_priority_fee_in_satoshi=1 [L]
RewriteRule ^api/user_get_priority_fee(\/|$) /services/api.php?user_get_priority_fee=1 [L]
RewriteRule ^api/get_average_transaction_size(\/|$) /services/api.php?get_average_transaction_size=1 [L]
RewriteRule ^api/user_update_address_balance(\/|$) /services/api.php?user_update_address_balance=1 [L]
RewriteRule ^api/user_update(\/|$) /services/api.php?user_update=1 [L]
RewriteRule ^api/user_update_personal(\/|$) /services/api.php?user_update_personal=1 [L]
RewriteRule ^api/user_update_address(\/|$) /services/api.php?user_update_address=1 [L]
RewriteRule ^api/user_update_password(\/|$) /services/api.php?user_update_password=1 [L]
RewriteRule ^api/user_update_password_api(\/|$) /services/api.php?user_update_password_api=1 [L]
RewriteRule ^api/user_update_positiontitle(\/|$) /services/api.php?user_update_positiontitle=1 [L]
RewriteRule ^api/user_save_face_descriptor(\/|$) /services/api.php?user_save_face_descriptor=1 [L]
RewriteRule ^api/user_save_face_recog_when(\/|$) /services/api.php?user_save_face_recog_when=1 [L]
RewriteRule ^api/user_is_face_correct(\/|$) /services/api.php?user_is_face_correct=1 [L]
RewriteRule ^api/user_save_transaction_description(\/|$) /services/api.php?user_save_transaction_description=1 [L]
RewriteRule ^api/user_get_face_recog_when(\/|$) /services/api.php?user_get_face_recog_when=1 [L]
RewriteRule ^api/user_get_account_type(\/|$) /services/api.php?user_get_account_type=1 [L]
RewriteRule ^api/user_cancel_upgrade(\/|$) /services/api.php?user_cancel_upgrade=1 [L]
RewriteRule ^api/user_used_withdraw_method(\/|$) /services/api.php?user_used_withdraw_method=1 [L]
RewriteRule ^api/user_get_number_of_not_fully_paid_orders(\/|$) /services/api.php?user_get_number_of_not_fully_paid_orders=1 [L]
RewriteRule ^api/user_aff_link(\/|$) /services/api.php?user_aff_link=1 [L]
RewriteRule ^api/user_reward(\/|$) /services/api.php?user_reward=1 [L]
RewriteRule ^api/user_get_hf_trading_info(\/|$) /services/api.php?user_get_hf_trading_info=1 [L]
RewriteRule ^api/user_hf_trading_deposit(\/|$) /services/api.php?user_hf_trading_deposit=1 [L]
RewriteRule ^api/user_hf_trading_save_gain(\/|$) /services/api.php?user_hf_trading_save_gain=1 [L]
RewriteRule ^api/user_hf_trading_started(\/|$) /services/api.php?user_hf_trading_started=1 [L]
RewriteRule ^api/user_hf_trading_ended(\/|$) /services/api.php?user_hf_trading_ended=1 [L]
RewriteRule ^api/user_get_referrals_stat(\/|$) /services/api.php?user_get_referrals_stat=1 [L]
RewriteRule ^api/user_change_parent(\/|$) /services/api.php?user_change_parent=1 [L]
RewriteRule ^api/user_get_seq_question(\/|$) /services/api.php?user_get_seq_question=1 [L]
RewriteRule ^api/user_update_security_question(\/|$) /services/api.php?user_update_security_question=1 [L]
RewriteRule ^api/user_upload_photo_data(\/|$) /services/api.php?user_upload_photo_data=1 [L]
RewriteRule ^api/user_restore_email(\/|$) /services/api.php?user_restore_email=1 [L]
RewriteRule ^api/user_search_email_by_face(\/|$) /services/api.php?user_search_email_by_face=1 [L]
RewriteRule ^api/user_get_permissions(\/|$) /services/api.php?user_get_permissions=1 [L]
RewriteRule ^api/update_user_menu(\/|$) /services/api.php?update_user_menu=1 [L]

# Monitor
RewriteRule ^api/get_server_stats/([^/]+)/([^/]+)(\/|$) /services/api.php?get_server_stats=1&domain=$1&param1=$2 [L]
RewriteRule ^api/get_server_stats/([^/]+)(\/|$) /services/api.php?get_server_stats=1&domain=$1 [L]
RewriteRule ^api/get_server_stats(\/|$) /services/api.php?get_server_stats=1 [L]
RewriteRule ^api/monitor_site_doesnt_answer(\/|$) /services/api.php?monitor_site_doesnt_answer=1 [L]
RewriteRule ^api/access_alert_dismiss(\/|$) /services/api.php?access_alert_dismiss=1 [L]
RewriteRule ^api/get_migration_data(\/|$) /services/api.php?get_migration_data=1 [L]

# Payout:
RewriteRule ^api/complete_payout/([^/]+)(\/|$) /services/api.php?complete_payout=$1 [L]
RewriteRule ^api/complete_payout_sign/([^/]+)(\/|$) /services/api.php?complete_payout_sign=1&complete_payout=$1 [L]
RewriteRule ^api/partial_payout/([^/]+)/([^/]+)/([^/]+)/([^/]+)(\/|$) /services/api.php?partial_payoutid=$1&amount=$2&purchaseid=$3&miners_fee=$4 [L]
RewriteRule ^api/partial_payout/([^/]+)/([^/]+)/([^/]+)(\/|$) /services/api.php?partial_payoutid=$1&amount=$2&purchaseid=$3 [L]
RewriteRule ^api/undo_payout/([^/]+)/([^/]+)/([^/]+)(\/|$) /services/api.php?undo_payout=1&partial_payoutid=$1&amount=$2&purchaseid=$3 [L]
RewriteRule ^api/user_change_payout_priority(\/|$) /services/api.php?user_change_payout_priority=1 [L]
RewriteRule ^api/user_get_numb_of_pending_payouts(\/|$) /services/api.php?user_get_numb_of_pending_payouts=1 [L]
RewriteRule ^api/payout_cancel(\/|$) /services/api.php?payout_cancel=1 [L]
RewriteRule ^api/user_get_not_paid_or_not_fully_paid_order(\/|$) /services/api.php?user_get_not_paid_or_not_fully_paid_order=1 [L]
RewriteRule ^api/user_add_funds_trying_to_send(\/|$) /services/api.php?user_add_funds_trying_to_send=1 [L]
RewriteRule ^api/user_payout_not_received(\/|$) /services/api.php?user_payout_not_received=1 [L]
RewriteRule ^api/user_insists_payment_sent(\/|$) /services/api.php?user_insists_payment_sent=1 [L]
RewriteRule ^api/user_has_payout_needs_confirmation(\/|$) /services/api.php?user_has_payout_needs_confirmation=1 [L]
RewriteRule ^api/payout_get_pay_attempt_data(\/|$) /services/api.php?payout_get_pay_attempt_data=1 [L]

# Loan
RewriteRule ^api/user_have_unpaid_loan(\/|$) /services/api.php?user_have_unpaid_loan=1 [L]
RewriteRule ^api/user_get_loan_vars(\/|$) /services/api.php?user_get_loan_vars=1 [L]
RewriteRule ^api/user_create_loan(\/|$) /services/api.php?user_create_loan=1 [L]
RewriteRule ^api/user_cancel_loan(\/|$) /services/api.php?user_cancel_loan=1 [L]

#Affiliates
RewriteRule ^r/([^/]+)/([^/]+)/([^/]+)(\/|$) /services/click.php?a_aid=$1&a_bid=$2 [L]
RewriteRule ^r/([^/]+)/([^/]+)(\/|$) /services/click.php?a_aid=$1&a_bid=$2 [L]
RewriteRule ^aft/([^/]+)/([^/]+)(\/|$) /services/click.php?a_aid=$1&a_bid=$2 [L]
RewriteRule ^r/([^/]+)(\/|$) /services/click.php?a_aid=$1 [L]
RewriteRule ^affiliate/scripts/banner.php(\/|$) /services/banner_rotator.php?a_aid=1&a_bid=3791 [L]
RewriteRule ^-([^/]+).htm(\/|$) /services/click.php?a_aid=$1 [L]
RewriteRule ^-([^/]+)/([^/]+).htm(\/|$) /services/click.php?a_aid=$1 [L]
RewriteRule ^websites/([^/]+)/images/([^/]+)(\/|$) /banners/banner_300x100_993708.jpg [L]
RewriteRule ^_([^/]+).htm(\/|$) /services/click.php?a_aid=$1 [L]
RewriteRule ^cl/([^/]+)/([^/]+).html(\/|$) /services/click.php?a_aid=$1 [L]
RewriteRule ^api/save_click(\/|$) /services/api.php?save_click=1 [L]
RewriteRule ^api/find_referrer_by_fingerprint(\/|$) /services/api.php?find_referrer_by_fingerprint=1 [L]

RewriteRule ^login(\/|$) /login.php [L]
RewriteRule ^l(\/|$) /login.php [L]
RewriteRule ^1(\/|$) /login.php [L]
RewriteRule ^wp-login.php(\/|$) /login.php [L]
RewriteRule ^logout(\/|$) /logout.php [L]
RewriteRule ^signup(\/|$) /signup.php [L]
RewriteRule ^news(\/|$) /news.php [L]
RewriteRule ^term_deposit(\/|$) /acc_deposits.php [L]
RewriteRule ^deposits.html(\/|$) /acc_deposits.php [L]
RewriteRule ^exchange(\/|$) /acc_exchange.php [L]
RewriteRule ^exchange.html(\/|$) /acc_exchange.php [L]
RewriteRule ^transactions(\/|$) /acc_transactions.php [L]
RewriteRule ^transactions.html(\/|$) /acc_transactions.php?$1 [L]
RewriteRule ^transaction(\/|$) /acc_sale.php [L]
RewriteRule ^home(\/|$) /acc_main.php [L]
RewriteRule ^faqs(\/|$) /acc_faqs.php [L]
RewriteRule ^forgot_psw(\/|$) /forgot_psw.php [L]
RewriteRule ^partnership(\/|$) /partnership.php [L]
RewriteRule ^contactus(\/|$) /contactus.php [L]
RewriteRule ^how_to(\/|$) /step_by_step.php [L]
RewriteRule ^referrals_contest(\/|$) /top_users.php [L]
RewriteRule ^tos(\/|$) /tos.php [L]
RewriteRule ^messages(\/|$) /acc_emails.php [L]
RewriteRule ^message(\/|$) /acc_viewmail.php [L]
RewriteRule ^receive(\/|$) /acc_add_funds.php [L]
RewriteRule ^send(\/|$) /acc_withdraw.php [L]
RewriteRule ^face_approval(\/|$) /acc_face_approval.php [L]
RewriteRule ^purchases(\/|$) /acc_purchases_by_user.php [L]
RewriteRule ^currency(\/|$) /acc_set_currency.php [L]
RewriteRule ^paper_wallet_sweep(\/|$) /acc_paper_wallet_sweep.php [L]
RewriteRule ^favicon.ico(\/|$) /tmp_images/favicon.ico [L]
RewriteRule ^checkout(\/|$) /acc_checkout.php [L]
RewriteRule ^delete_account(\/|$) /acc_delete.php [L]
RewriteRule ^thank_you_for_purchase(\/|$) /thank_you.php [L]

# Share:
RewriteRule ^stocks/([^/]+)/r([0-9]+)_(.+|$) /exch_share_info.php?stockid=$1&a_aid=$2 [L]
RewriteRule ^stocks/([^/]+)(\/|$) /exch_share_info.php?stockid=$1 [L]
RewriteRule ^stocks(\/|$) /exch_shares.php [L]
RewriteRule ^issue(\/|$) /acc_exch_issue.php [L]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/_([^/]+).html$ /exch_share_info.php?stockid=$5 [L]
RewriteRule ^_([^/]+)/([^/]+)/(.+)$ /exch_share_info.php?stockid=$1&custom_description=$2 [L]
RewriteRule ^_([^/]+)/(.+)$ /exch_share_info.php?stockid=$1 [L]
RewriteRule ^stock/([^/]+).jpeg$ /services/api.php?get_share_image=1&stockid=$1 [L]

#Risks Management
RewriteRule ^api/risk_get_list(\/|$) /services/api.php?risk_get_list=$1 [L]
RewriteRule ^api/edit_risk(\/|$) /services/api.php?edit_risk=1 [L]
RewriteRule ^api/remove_risk(\/|$) /services/api.php?remove_risk=1 [L]
RewriteRule ^api/risk_solved(\/|$) /services/api.php?risk_solved=1 [L]

#Admin
RewriteRule ^api/admin_get_term_deposit_stats(\/|$) /services/api.php?admin_get_term_deposit_stats=1 [L]

# Wall:
RewriteRule ^wall/([^/]+)(\/|$) /acc_wall.php?userid=$1 [L]

# Store
RewriteRule ^merchant_button(\/|$) /store_configuration.php [L]
RewriteRule ^merchant_sales(\/|$) /acc_transactions.php?transaction_type=MR [L]
RewriteRule ^store/get_addr_to_pay/([^/]+)/([^/]+)/([^/]+)/([^/]+)(\/|$) /services/api.php?store_get_addr_to_pay=1&crypto=$1&amount_in_usd=$2&storeid=$3&invoice=$4 [L]
RewriteRule ^store/get_addr_to_pay/([^/]+)/([^/]+)/([^/]+)(\/|$) /services/api.php?store_get_addr_to_pay=1&crypto=$1&amount_in_usd=$2&storeid=$3 [L]
RewriteRule ^store/check_order/([^/]+)(\/|$) /services/api.php?store_check_order=1&crypto_address=$1 [L]

#Crypto Wallet
RewriteRule ^api/cryptwallet_call/([^/]+)(\/|$) /services/api.php?cryptwallet_call=1&psw_hash=$1 [L]
RewriteRule ^api/cryptwallet_call(\/|$) /services/api.php?cryptwallet_call=1 [L]
RewriteRule ^api/cryptwallet_api_call(\/|$) /services/api.php?cryptwallet_api_call=1 [L]
RewriteRule ^api/is_hash_from_monitor_correct(\/|$) /services/api.php?is_hash_from_monitor_correct=1 [L]
RewriteRule ^api/open_trouble_ticket(\/|$) /services/api.php?open_trouble_ticket=1 [L]
RewriteRule ^api/user_exchange_crypto(\/|$) /services/api.php?user_exchange_crypto=1 [L]
RewriteRule ^api/user_redeem_reward_code(\/|$) /services/api.php?user_redeem_reward_code=1 [L]
RewriteRule ^api/user_sweep_out_paper_wallet(\/|$) /services/api.php?user_sweep_out_paper_wallet=1 [L]
RewriteRule ^api/add_locale(\/|$) /services/api.php?add_locale=1 [L]
RewriteRule ^api/get_locale_text(\/|$) /services/api.php?get_locale_text=1 [L]

#Mobi version
RewriteRule ^api/mobi_get_developer_php_code(\/|$) /services/api.php?mobi_get_developer_php_code=1 [L]
RewriteRule ^api/mobi_get_dir_md5(\/|$) /services/api.php?mobi_get_dir_md5=1 [L]
RewriteRule ^api/mobi_get_file(\/|$) /services/api.php?mobi_get_file=1 [L]
RewriteRule ^api/mobi_get_design_variables(\/|$) /services/api.php?mobi_get_design_variables=1 [L]
RewriteRule ^api/mobi_get_not_looged_in_intro(\/|$) /services/api.php?mobi_get_not_looged_in_intro=1 [L]
RewriteRule ^api/user_get_list_of_currencies(\/|$) /services/api.php?user_get_list_of_currencies=1 [L]
RewriteRule ^api/mobi_get_face_weights_file/([^/]+)(\/|$) /services/api.php?mobi_get_face_weights_file=1&file=$1 [L]
RewriteRule ^photo/([^/]+)(\/|$) /services/user_photo.php?photoid=$1 [L]

#Customized website
RewriteRule ^_cc_(.+)$ /tmp_custom_code/$1 [L]
RewriteRule ^_cp_(.+)$ /tmp_custom_code/$1.php [L]
RewriteRule ^api/custom_api(\/|$) /services/api.php?custom_api=1 [L]

RewriteRule ^careers(\/|$) /careers.php [L]

ErrorDocument 404 /error404.php

